div.form{
    display: flex;
    width: 850px;
    height: 550px;
    background-color:rgba(0, 255, 149, 0.9);
    background-size: cover;
    background-clip: content-box;
    border-radius: 10px;
    margin: 50px;
}

div.left-panel{
    display: flex;
    width: 60%;
    background: rgba(255, 255, 255, 0.9);
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    justify-content: center;
    overflow-y: scroll;
}

div.left-panel::-webkit-scrollbar { 
    display: none;
}

h1.form-title{
    background-color: #f3ec78;
    background-image: linear-gradient(to right, #005e09, #00ff4c);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-top: 0;
}

input.form-input{
    padding-left: 15px;
    width: 50%;
    height: 7%;
    border: none;
    color: rgb(155, 155, 155);
}

div.form-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 40px;
}

div.radio-buttons{
    display: flex;
    color: rgb(155, 155, 155);
}

input.small, input.big{
    width: 5%;
    border: 2px solid green;
    accent-color: rgba(0, 255, 149);
}

button.next{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 255, 149);
    width: 40%;
    height: 8%;
    margin-top: 20px;
}

button.next:hover{
    cursor: pointer;
    border: solid 2px white;
}

i.arrow{
    color: white;
}

p.dialog-question{
    color: rgb(126, 126, 126);
    margin-bottom: 0px;
}

p.error{
    color: red;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  

.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }